/*styles applied to all pages*/
* {
    padding: 0px;
    margin: 0px;
    font-family: Papyrus, sans-serif;
}

body {
    background-image: url("/Users/placeofstillness/Documents/2025_Code/250218_website03/assets/images/sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
    text-decoration: underline;
}

p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navcanvas {
    background-color: #1d015a;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    font-family: Papyrus, sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-left: 70px;
    border-radius: 25px;
}

.navbar a:hover,
.navbar a.active {
    background-color: #1d14a0;
    transition: background-color 0.3s ease;
} 

.maincanvas {
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center; 
    padding: 15px;
    margin: 20px;
}  

.footcanvas {
    background-color: #0d0027;
    min-height: 50px;
}

.footbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footbar li {
    font-family: Papyrus, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    padding-right: 90px;
    padding-bottom: 30px;
    padding-left: 90px;
}

.slogan {
    font-size: 22px;
    font-stretch: expanded;
}

abbr:hover{
    display: inline;
  }

/*index.html specific css*/

#image_welcome {
    text-align: center;
}

/*shop.html specific css*/

.productcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7f7ff;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productpicture {
   max-width: 35%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.producttext{
    max-width: 60%;
    padding: 20px;
}

.bookingbutton {
    background-color: #04aa91;
    border: none;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
/*astro.html specific css*/

.transittable {
    table-layout: fixed;
    width: 100%;
    border: 1px solid;
    text-align: center;
    border-color: #e7f7ff;
    border-collapse: collapse;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: add shadow to the table */
}

th {
    background-color: #e7f7ff;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

tr:hover{
    background-color: #f5f5f5;
}

.transittable, th, tr, td {
    border: 1px solid #ddd;
}

/*media.html specific css*/

.buttoncontainer{

}

.gallerygrid{

}

/*contact.html specific css*/

.mymap{

}

.myform{

}